
SE206_A2/.classpath

SE206_A2/.project

SE206_A2/bin/controllers/

SE206_A2/bin/FXML/

SE206_A2/bin/images/

SE206_A2/bin/wikispeak/

SE206_A2/creation_files/temporary_files/text_files/

*.class

SE206_A3/.project

SE206_A3/bin/src/FXML/

SE206_A3/.classpath

SE206_A3/bin/FXML/

SE206_A3/bin/images/

SE206_A3/creation_files/temporary_files/audio_files/

SE206_A3/creation_files/temporary_files/text_files/

SE206_A3/creation_files/temporary_files/video_files/
